:root {
    --header-color: #0062FF;
    --blanco: #FFFFFF;
    --color-btn-txt: #212121;
    --rojo: #FF0000;
    --fuente:"Noto Sans JP", sans-serif;
}
body {
    font-family: var(--fuente)!important;
}
/* NAVBAR */
.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.navbar {
    background-color: black;
    padding-top: 1.2rem!important;
    padding-bottom: 1.2rem!important;
}

.navbar a {
    color: var(--blanco)!important;
    text-decoration: none;
}
/* FORM */
.contenedor-formulario{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
}

.formulario{
    width: 70%;
    padding: 2.5rem 6rem ;
    border: 1px solid rgb(148, 146, 146);
    border-radius: 15px;
    margin: 2% 0;
}
.formulario p{
    line-height: 2rem;
    font-size: 1rem;

}

.formulario h1, p {
  color: var(--color-btn-txt);
}
.mensaje-error{
    color: var(--rojo);
}
.btn-enviar{
    background-color: var(--color-btn-txt) !important;
    border: 5px solid var(--color-btn-txt) !important;
    border-radius: 10px!important;
    width: 80%;
}
/* FOOTER */
  
footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey;
    padding: 1.5rem 2rem .5rem;
    margin-top: 1rem;
}
/* HERO */
.hero{
    background: url("https://images.unsplash.com/photo-1493497029755-f49c8e9a8bbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
.hero p, h1 {
    color:white;
}